body {
	background-color: aliceblue;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

form {
	text-align: center;
	padding: 1.25rem;
}

label {
	display: block;
}

input {
	width: 20%;
	padding: 0.4rem 0.7rem;
	margin: 0.5rem;
}

button {
	background-color: rgb(155, 215, 215);
	font-weight: bold;
	border-color: rgb(155, 215, 215);
	border-radius: 8px;
	padding: 0.4rem 0.7rem;
}

button:hover {
	cursor: pointer;
	background-color: rgb(195, 235, 235);
	border-color: rgb(195, 235, 235);
}